* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #282828;
}

img {
    max-width: 100%;
}

ul, ol, dl {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/******************************************* Config videos style *************************************/

.content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 75px;
}
.video {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;

}
.video_container {
    position: relative;
    padding: 25px;
    border-radius: 8px;
    border: 3px solid #ffca5a;
    background-color: #ffca5a;
    cursor: pointer;
    transition: all .3s;
}
.video_container:hover{
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.video_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

/****************************************** Modal **************************************************/
.panel {
    display: none;
    position: absolute;
    border-radius: 25px;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, .3);
    background: rgba(0, 0, 0, .3);
    transform: rotateX(-90deg);
    transition: 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.panel.is--open {
    position: absolute;
    top: 257px;
    left: 558px;
    width: 100%;
    max-width: 958px;
    margin: 0 auto;
    transform: rotateX(0deg);
}
.panel__content {
    max-width: 958px;
    width: 100%;
    padding-bottom: 4em;
    background: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: #5a5a5a;
    text-align: center;
}
.panel__content h4 {
    padding: 1.5em 0;
    border-bottom: 2px solid #ededed;
    color: #ffca5a;
    font-size: 1.15em;
    font-weight: 700;
    text-transform: uppercase;
}
.panel__content h2 {
    padding: 0.5em 1.5em;
    font-size: 3em;
    font-weight: 300;
}
.panel__content p {
    margin: auto;
    width: 55%;
    font-size: 1.15em;
    font-weight: 300;
    line-height: 1.4;
}
.panel__flaps {
    display: flex;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.flap {
    height: 100px;
    background: #ffca5a;
}
.flap__btn {
    width: calc((100% - 212px) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #ffca5a;
    color: white;
    cursor: pointer;
    font-size: 2.25em;
    font-weight: 700;
    text-decoration: none;
    z-index: 1;
    transition: 0.2s ease;
    transform: translate3d(0, 0, 0);
    transform-origin: top center;
}
.flap__btn:hover, .flap__btn:focus {
    background: #ffca5a;
    outline: none;
    transform: rotateX(-25deg) translate3d(0, 0, 0);
}
.outer {
    width: 106px;
}
.flap--left {
    border-bottom-left-radius: 25px;
    transform-origin: top right;
}
.flap--right {
    border-bottom-right-radius: 25px;
    transform-origin: top left;
}
.is--open .outer {
    animation: swing 1.5s 0.2s ease;
}
.is--open .flap__btn:first-of-type {
    animation: swing 1.5s 0.3s ease;
}
.is--open .flap__btn:last-of-type {
    animation: swing 1.5s 0.4s ease;
}
@keyframes swing {
    10% {
        transform: rotateX(25deg);
    }
    50% {
        transform: rotateX(-15deg);
    }
    75% {
        transform: rotateX(5deg);
    }
    90% {
        transform: rotateX(-2.5deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
.replay {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.5em;
    background: #ffca5a;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    text-decoration: none;
    transition: all 0.3s;
    transform: translate(-50%, -50%);
}
.replay:hover, .replay:focus {
    background: #ffca5a;
    outline: none;
    box-shadow: 0 0 25px #ffca5a;
}
.replay:active {
    transform: translate(-50%, -50%) scale(0.9);
}
.replay.is--active {
    opacity: 1;
    pointer-events: initial;
}
*, *:before, *:after {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

/****************************************************** Modal Window / **********************************/

/****************************************************** Modal Close  **********************************/

.items {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    padding: 5px;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    border: 1px solid #f00;
    border-radius: 50%;
    transition: all .7s;
}
.items > a{
    color: #f00;
    padding: 10px 3px;
}
.items > a:hover{
    color: #fff;
}
.items:hover{
    border: 1px solid #282828;
    background-color: #f00;
}


    /****************************************************** Modal Close / **********************************/

.form_design{
    margin: 30px auto;
}
.form_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 30px;
    border: 1px solid #282828;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ffca5a;
}
.form_content input{
    padding: 10px 20px;
    border: transparent;
    border-radius: 4px;
    transition: all .3s;
}
::placeholder{
    font-family: "Agency FB", sans-serif;
    font-weight: 700;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 2px;
    color: #ffca5a;
}
.form_content input:focus {
    outline: none;
    border: 1px solid #ffca5a;
    transform: scale(1.1);
}

.btn{
    font-family: "Agency FB", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    padding: 10px;
    border: transparent;
    border-radius: 4px;
    letter-spacing: 2px;
    color: #ffca5a;
    background-color: #fff;
    cursor: pointer;
    transition: all .3s;
}

.btn:hover {
    transform: scale(1.1);
    background-color: rgba(108, 70, 0, 0.78);
    color: #fff;
}

.name,
.name,
.embed,
.description {
    font-family: "Agency FB", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
    color: #fff;
}

.flex_videos {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.error {
    width: 100%;
    max-width: 350px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    border: 2px dashed #f00;
    color: #f00 !important;
}

.success {
    width: 100%;
    max-width: 180px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    border: 2px dashed green;
    color: green !important;
}

/******************************************* Footer ************************************************/

footer .container {
    max-width: 1910px;
    width: 100%;
    height: 165px;
    padding: 70px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    border-top: 1px solid rgb(255, 115, 0);
    background: rgba(255, 202, 90, 0.78);
}

footer .container ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

footer .container ul li {
    position: relative;
}

footer .container ul li a {
    font-family: "Agency FB", sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1px;
    padding: 20px 0;
    transition: all .3s;
    color: #000;
}

footer .container ul li a:hover {
    color: rgb(255, 115, 0);
}

footer .container ul li a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 8px;
    background-color: rgb(255, 115, 0);
    bottom: 0;
    top: 30px;
    transition: all .5s;
}

footer .container ul li a:hover:before {
    width: 100%;
}

footer .container p {
    position: relative;
    color: #000;
    font-size: 13px;
    font-weight: 100;
    font-family: serif;
    letter-spacing: 2px;
    text-align: center;
    top: 40px;
}
