* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #282828;
}

img {
    max-width: 100%;
}

ul, ol, dl {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/******************************************* Config videos style *************************************/

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 75px;
}
.video {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;

}
.video_container {
    position: relative;
    padding: 25px;
    border-radius: 8px;
    border: 3px solid #ffca5a;
    background-color: #ffca5a;
    cursor: pointer;
    transition: all .3s;
}
.video_container:hover{
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.video_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.absalute_close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    transition: all .5s;
}
.absalute_close:hover{
    border: 1px solid #f00;
    color: #f00;
}
.close{
    display: block;
    margin: 4px auto;
}
.form_design{
    margin: 0 auto;
}
.form_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px 30px;
    border: 1px solid #282828;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ffca5a;
}
.form_content input{
    padding: 10px 20px;
    border: transparent;
    border-radius: 4px;
    transition: all .3s;
}
::placeholder{
    font-family: "Agency FB", sans-serif;
    font-weight: 700;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 2px;
    color: #ffca5a;
}
.form_content input:focus {
    outline: none;
    border: 1px solid #ffca5a;
    transform: scale(1.1);
}

.btn{
    font-family: "Agency FB", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    padding: 10px;
    border: transparent;
    border-radius: 4px;
    letter-spacing: 2px;
    color: #ffca5a;
    background-color: #fff;
    cursor: pointer;
    transition: all .3s;
}

.btn:hover {
    transform: scale(1.1);
    background-color: rgba(108, 70, 0, 0.78);
    color: #fff;
}

.name,
.name,
.embed,
.description {
    font-family: "Agency FB", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
    color: #fff;
}

.flex_videos {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.error {
    width: 100%;
    max-width: 350px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    border: 2px dashed #f00;
    color: #f00 !important;
}

.success {
    width: 100%;
    max-width: 350px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    border: 2px dashed green;
    color: green !important;
}

/******************************************* Footer ************************************************/

footer {
    position: relative;
    top: 100px;
}

footer .container {
    max-width: 1910px;
    width: 100%;
    height: 165px;
    padding: 70px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    border-top: 1px solid rgb(255, 115, 0);
    background: rgba(255, 202, 90, 0.78);
}

footer .container ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

footer .container ul li {
    position: relative;
}

footer .container ul li a {
    font-family: "Agency FB", sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1px;
    padding: 20px 0;
    transition: all .3s;
    color: #000;
}

footer .container ul li a:hover {
    color: rgb(255, 115, 0);
}

footer .container ul li a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 8px;
    background-color: rgb(255, 115, 0);
    bottom: 0;
    top: 30px;
    transition: all .5s;
}

footer .container ul li a:hover:before {
    width: 100%;
}

footer .container p {
    position: relative;
    color: #000;
    font-size: 13px;
    font-weight: 100;
    font-family: serif;
    letter-spacing: 2px;
    text-align: center;
    top: 40px;
}
